<ion-view view-title="Peladeiros de Sexta">
   
  <ion-content class="padding" style="text-align: center;">
        <div style="    display: table;
    position: relative;
    width: 100%;  
    padding: 0;
    background: url(img/turma.jpeg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;">
         <div style="text-align:center;">
				<br><br><br>            
            <h2 style="color:white; font-size:44px;">Peladeiros de Sexta</h2>
            <br>
        </div>
    </div>
    <h3>Horário: Sexta-feira, 20h30 às 22h00.</h3>
    <h3>Fundação: Setembro 1995</h3>
    <h3>Partidas Gravadas: 25</h3>
    <h3>Últimas Partidas:</h3>
    <iframe width="100%" height="100%" 
      src="https://www.youtube.com/embed/videoseries?list=PLXOWQP5Jx-MiuvP_Ms3HBJEqWLlhNdKsp"
      frameborder="0" allowfullscreen></iframe>
    </div>
    <h2>Troféus</h2>
      <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
  </ion-content>
</ion-view>
